*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
}

li {
  list-style: none;
}

// img {
//   max-width: 100%;
//   vertical-align: middle;
// }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  color: inherit;
  font-weight: inherit;
}